@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://github.com/w0ng/googlefontdirectory/raw/master/fonts/droidsans/DroidSans.ttf) format('ttf');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://github.com/w0ng/googlefontdirectory/raw/master/fonts/droidsans/DroidSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://github.com/w0ng/googlefontdirectory/raw/master/fonts/lato/Lato-Regular.ttf) format('ttf');
}
* {
  font-family: 'Lato', sans-serif;
}
html {
  color: black;
}
h1 {
  font-size: 16pt;
}
h2 {
  font-size: 12pt;
}
h3 {
  font-size: 12pt;
}
h1,
h2,
h3 {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #666666;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.name {
  text-align: right;
}
.name h1 {
  color: black;
  display: inline;
}
.name .contact {
  margin-top: 0.5em;
}
.name .contact ul {
  display: inline;
}
.name .contact ul li {
  color: #666666;
  height: 100%;
  display: inline;
}
.name .contact ul li:after {
  content: "::";
  margin: 0 0.5em;
  color: #777777;
}
.name .contact ul li:last-child:after {
  margin: 0;
  content: "";
}
.resume {
  font-size: 8pt;
  margin: 0;
  padding: 0;
  clear: both;
  page-break-after: always;
}
.resume section > header > h2 {
  text-align: right;
}
.resume section > section {
  border-left: 1px solid #777777;
  padding-bottom: 1.5em;
}
.summary {
  margin-top: 2em;
}
.summary p {
  margin: 0.8em 0 0 0;
}
.summary p:first-child {
  margin-top: 0;
}
.experience header h3,
.education header h3 {
  display: inline;
  margin-right: 0.3em;
}
.experience p,
.education p {
  margin: 0.8em 0 0 0;
}
.experience section > ul > li,
.education section > ul > li {
  margin: 1.8em 0 0 0;
}
.experience section > ul > li:first-child,
.education section > ul > li:first-child {
  margin-top: 0;
}
.experience section > ul > li ul,
.education section > ul > li ul {
  margin: 0.8em 0 0 0;
  list-style-type: disc;
  padding-left: 1.5em;
}
.experience section > ul > li ul li,
.education section > ul > li ul li {
  margin: 0.8em 0 0 0;
}
.experience aside,
.education aside {
  display: inline;
  color: #666666;
  font-size: 8pt;
}
.experience aside:after,
.education aside:after {
  content: ",";
}
.experience aside:last-child:after,
.education aside:last-child:after {
  content: "";
}
.education aside:after {
  content: "";
}
.education header {
  margin: 0;
}
.education p {
  margin: 0;
}
.education header + p {
  margin: 0.8em 0 0 0;
}
.col-xs-3 {
  width: 18% !important;
}
.col-xs-9 {
  width: 82% !important;
}
